<!DOCTYPE html>
<html>
    <head>
        <title>해양수산부 통계시스템</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta name="description" content="해양수산부 모바일 통계시스템">
        <link rel="shortcut icon" href="../public/images/favicon.ico">
        <link rel="stylesheet" href="../public/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../public/css/all.css" type="text/css">
        <link rel="stylesheet" href="../public/lib/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="../public/css/layout.css?var=20180779" type="text/css">
        <link rel="stylesheet" href="../public/css/template.css?var=20180719" type="text/css">

        <script type="text/javascript" src="../public/lib/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="../public/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    </head>

    <script type="text/javascript">
        $(document).ready(function () {
            //header include
            $("#header").load("../view/include/header.html")
            $("#footer").load("../view/include/footer.html")
        });
    </script>

	<body>
		<div class="wrap">
			<div class="skip_navigation">
				<p>
					<a href="#contents" title="본문 컨텐츠로 이동">» 메뉴 건너 뛰기</a>
				</p>
			</div>

			<!-- header S -->
			<header id="header">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</header>
			<!-- header E -->

			<!-- contents S -->
			<div id="contents">
				<div id="breadcrumbs">
					<ol class="breadcrumb">
						<li>
							<a href="javascript:history.go(-1)">이전</a>
						</li>
						<li class="active">e-나라지표</li>
					</ol>
				</div>

				<div class="wrap_contents">
					<h2>e-나라지표</h2>
					<div class="wrap_table">
						<table summary="통계표 선택 테이블입니다" class="table table_step table-striped">
							<thead>
								<tr>
									<th>통계표 선택</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="../view/e_Country_index02.html" title="[해운물류] 국내여객 수송실적 통계보기로 이동">
											<span>[해운물류] 국내여객 수송실적</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산정책] 컨테이너 화물 처리 현황 통계보기로 이동">
											<span>[수산정책] 컨테이너 화물 처리 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해사안전] 항만국통제(PSC) 점검률 통계보기로 이동">
											<span>[해사안전] 항만국통제(PSC) 점검률</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산정책] 어업생산량 및 양식량 - 양식어류량 통계보기로 이동">
											<span>[수산정책] 어업생산량 및 양식량 - 양식어류량</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산] 영어자금 지원현황 통계보기로 이동">
											<span>[수산] 영어자금 지원현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 주요 해운 선진국의 지배선대 현황 통계보기로 이동">
											<span>[해운물류] 주요 해운 선진국의 지배선대 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[어업자원] 어업 생산액 및 GDP 대비 부가가치 비중 통계보기로 이동">
											<span>[어업자원] 어업 생산액 및 GDP 대비 부가가치 비중</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 국적선원 취업현황 통계보기로 이동">
											<span>[해운물류] 국적선원 취업현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산] 어가 및 어가 인구 통계보기로 이동">
											<span>[수산] 어가 및 어가 인구</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[항만] 전국 무역항 항만시설 확보율 통계보기로 이동">
											<span>[항만] 전국 무역항 항만시설 확보율</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산] 어가 소득현황 통계보기로 이동">
											<span>[수산] 어가 소득현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 남북한간 해상수송 물동량 현황 통계보기로 이동">
											<span>[해운물류] 남북한간 해상수송 물동량 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 연안해송 물동량 현황 통계보기로 이동">
											<span>[해운물류] 연안해송 물동량 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 전국항만 물동량 처리 현황 통계보기로 이동">
											<span>[해운물류] 전국항만 물동량 처리 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산] 수산물 소비량(연간 1인당)과 자급률 통계보기로 이동">
											<span>[수산] 수산물 소비량(연간 1인당)과 자급률</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[어업자원] 어업생산량 및 양식량 - 어업생산량 통계보기로 이동">
											<span>[어업자원] 어업생산량 및 양식량 - 어업생산량</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 연안습지(갯벌) 면적의 변동 추이 통계보기로 이동">
											<span>[해양환경] 연안습지(갯벌) 면적의 변동 추이</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 육상폐기물 해양투기량 추이 통계보기로 이동">
											<span>[해양환경] 육상폐기물 해양투기량 추이</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 특별관리해역 수질(COD)현황 통계보기로 이동">
											<span>[해양환경] 특별관리해역 수질(COD)현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 전국연안 수질(COD) 현황 통계보기로 이동">
											<span>[해양환경] 전국연안 수질(COD) 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 전국연안 수질(COD) 현황 통계보기로 이동">
											<span>[해양환경] 전국연안 수질(COD) 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해운물류] 해운서비스 외화가득액 증가 추이 통계보기로 이동">
											<span>[해운물류] 해운서비스 외화가득액 증가 추이</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해양환경] 해양보호구역 지정 현황 통계보기로 이동">
											<span>[해양환경] 해양보호구역 지정 현황</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[수산] 수산물 수출입 동향 통계보기로 이동">
											<span>[수산] 수산물 수출입 동향</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="[해사안전] 해양사고 통계 통계보기로 이동">
											<span>[해사안전] 해양사고 통계</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- contents E -->

			<!-- footer S -->
			<footer id="footer">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</footer>
			<!-- footer E -->
		</div>
	</body>
</html>