<!DOCTYPE html>
<html>
    <head>
        <title>해양수산부 통계시스템</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta name="description" content="해양수산부 모바일 통계시스템">
        <link rel="shortcut icon" href="../public/images/favicon.ico">
        <link rel="stylesheet" href="../public/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../public/css/all.css" type="text/css">
        <link rel="stylesheet" href="../public/lib/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="../public/css/layout.css?var=20180779" type="text/css">
        <link rel="stylesheet" href="../public/css/template.css?var=20180719" type="text/css">

        <script type="text/javascript" src="../public/lib/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="../public/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    </head>

    <script type="text/javascript">
        $(document).ready(function () {
            //header include
            $("#header").load("../view/include/header.html")
            $("#footer").load("../view/include/footer.html")
        });
    </script>

	<body>
		<div class="wrap">
			<div class="skip_navigation">
				<p>
					<a href="#contents" title="본문 컨텐츠로 이동">» 메뉴 건너 뛰기</a>
				</p>
			</div>

			<!-- header S -->
			<header id="header">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</header>
			<!-- header E -->

			<!-- contents S -->
			<div id="contents">
				<div id="breadcrumbs">
					<ol class="breadcrumb">
						<li>
							<a href="javascript:history.go(-1)">이전</a>
						</li>
						<li class="active">통계설명(메타)</li>
					</ol>
				</div>

				<div class="wrap_contents">
					<h2>통계설명(메타)</h2>
					<div class="wrap_table">
						<table summary="통계표 선택 테이블입니다" class="table table_step table-striped">
							<thead>
								<tr>
									<th>분야별 검색</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="../view/statistical_description03.html" title="시, 도별 해수욕장 현황 메타보기로 이동">
											시, 도별 해수욕장 현황
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="해양산업통계조사 메타보기로 이동">
											해양산업통계조사
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="시, 도별 해안선 길이 메타보기로 이동">
											시, 도별 해안선 길이
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="레저선박 생산, 등록 및 조종면허 취득 현황 메타보기로 이동">
											레저선박 생산, 등록 및 조종면허 취득 현황
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="해양광물자원(망간단괴)분포량 메타보기로 이동">
											해양광물자원(망간단괴)분포량
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="해양수산 R&D 투자 현황 메타보기로 이동">
											해양수산 R&D 투자 현황
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="남, 북극 과학기지 현황 메타보기로 이동">
											남, 북극 과학기지 현황
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="" title="연안 인구 및 가구 현황 메타보기로 이동">
											연안 인구 및 가구 현황
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- contents E -->

			<!-- footer S -->
			<footer id="footer">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</footer>
			<!-- footer E -->
		</div>
	</body>

</html>