<!DOCTYPE html>
<html>
    <head>
        <title>해양수산부 통계시스템</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no, address=no, email=no">
        <meta name="description" content="해양수산부 모바일 통계시스템">
        <link rel="shortcut icon" href="../public/images/favicon.ico">
        <link rel="stylesheet" href="../public/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../public/css/all.css" type="text/css">
        <link rel="stylesheet" href="../public/lib/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="../public/css/layout.css?var=20180779" type="text/css">
        <link rel="stylesheet" href="../public/css/template.css?var=20180719" type="text/css">

        <script type="text/javascript" src="../public/lib/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="../public/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    </head>

    <script type="text/javascript">
        $(document).ready(function () {
            //header include
            $("#header").load("../view/include/header.html")
            $("#footer").load("../view/include/footer.html")
        });
    </script>

	<body>
		<div class="wrap">
			<div class="skip_navigation">
				<p>
					<a href="#contents" title="본문 컨텐츠로 이동">» 메뉴 건너 뛰기</a>
				</p>
			</div>

			<!-- header S -->
			<header id="header">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</header>
			<!-- header E -->

			<!-- contents S -->
			<div id="contents">
				<div id="breadcrumbs">
					<ol class="breadcrumb">
						<li>
							<a href="javascript:history.go(-1)">이전</a>
						</li>
						<li class="active">분야별 통계</li>
					</ol>
				</div>

				<div class="wrap_contents">
					<h2>분야별 통계</h2>
					<h3>[승인] 수산물 검역 및 수출검사 통계
						<br> (Statistics of quarantine of aquatic animals and inspection of reports of fishery products)</h3>

					<div>
						<ul class="nav nav-tabs nav-justified">
							<li class="active">
								<!-- TODO: 추후 데이터를 어떻게 가져올지 몰라 일단 ajax로  -->
								<a href="../view/data/temp_statistical.html" data-target="#section01" data-toggle="tab">통계표</a>
							</li>
							<li>
								<a href="../view/data/meta_Information.html" data-target="#section02" data-toggle="tab">메타정보</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="section01"></div>
							<div class="tab-pane fade" id="section02"></div>
						</div>

						<script>
							// 페이지 로딩시 첫번째 탭 loading
							$(document).ready(function () {
								$.get($('.active a').attr("href"), function (data) {
									$('#section01').html(data);
								});
							});

							$('[data-toggle="tab"]').on('click', function () {
								var $this = $(this),
									source = $this.attr('href'),
									pane = $this.attr('data-target');

								if ($(pane).is(':empty')) {
									$.get(source, function (data) {
										$(pane).html(data);
									});

									$(this).tab('show');
									return false;
								}
							});
						</script>
					</div>
				</div>
			</div>
			<!-- contents E -->

			<!-- footer S -->
			<footer id="footer">
				<!-- TODO: 개발언어에 맞게 include 수정 -->
			</footer>
			<!-- footer E -->
		</div>
	</body>
</html>